name: Deploy to Firebase

# Controls when the action will run. 
on:
  push:
    branches: [ main ]

jobs:
  firebase-deploy:
    runs-on: ubuntu-latest
    steps:      
      - name: Checkout the repository
        uses: actions/checkout@master
      
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
